@inherits Connect.DNN.Modules.Conference.Common.ConferenceWebPage<Connect.Conference.Core.Models.Conferences.ConferenceBase>
@using DotNetNuke.Web.Mvc.Helpers;
@using Connect.DNN.Modules.Conference.Common;
@{ 
    var roles = new List<System.Web.Mvc.SelectListItem>();
    roles.Add(new System.Web.Mvc.SelectListItem { Text = Dnn.LocalizeString("SelectRole"), Value = "-1" });
    var rc = new DotNetNuke.Security.Roles.RoleController();
    foreach (var r in rc.GetRoles(Dnn.PortalSettings.PortalId))
    {
     roles.Add(new System.Web.Mvc.SelectListItem { Text = r.RoleName, Value = r.RoleID.ToString() });
    }
}

<fieldset>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Name")</label>
  </div>
  @Html.TextBoxFor(m => m.Name)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Description")</label>
  </div>
  @Html.TextAreaFor(m => m.Description)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Location")</label>
  </div>
  @Html.TextBoxFor(m => m.Location)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("StartDate")</label>
  </div>
  @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { data_editor = "date" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("EndDate")</label>
  </div>
  @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { data_editor = "date" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("MaxCapacity")</label>
  </div>
  @Html.TextBoxFor(m => m.MaxCapacity)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SessionVoting")</label>
  </div>
  @Html.CheckBoxFor(m => m.SessionVoting)
 </div>
 <div class="clearfix">&nbsp;</div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("AttendeeRole")</label>
  </div>
  @Html.DropDownListFor(m => m.AttendeeRole, roles)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SpeakerRole")</label>
  </div>
  @Html.DropDownListFor(m => m.AttendeeRole, roles)
 </div>
 <div class="right">
  @Html.ActionLink(Dnn.LocalizeString("Cancel"), "Index", "Home", null, new { @class = "btn btn-default" })
  <button type="submit" class="btn btn-primary">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>
