@inherits ConferenceWebPage<ConferenceBase>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);

    var roles = new List<System.Web.Mvc.SelectListItem>();
    roles.Add(new System.Web.Mvc.SelectListItem { Text = Dnn.LocalizeString("SelectRole"), Value = "-1" });
    var rc = new DotNetNuke.Security.Roles.RoleController();
    foreach (var r in rc.GetRoles(Dnn.PortalSettings.PortalId))
    {
     roles.Add(new System.Web.Mvc.SelectListItem { Text = r.RoleName, Value = r.RoleID.ToString() });
    }
    var timezones = new List<System.Web.Mvc.SelectListItem>();
    timezones.Add(new System.Web.Mvc.SelectListItem { Text = Dnn.LocalizeString("None"), Value = "" });
    foreach (var tz in System.TimeZoneInfo.GetSystemTimeZones())
    {
     timezones.Add(new System.Web.Mvc.SelectListItem { Text = tz.DisplayName, Value = tz.Id });
    }

    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<fieldset id="editConference">
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Name")</label>
  </div>
  @Html.TextBoxFor(m => m.Name)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Url")</label>
  </div>
  @Html.TextBoxFor(m => m.Url)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Description")</label>
  </div>
  @Html.TextAreaFor(m => m.Description)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Location")</label>
  </div>
  @Html.TextBoxFor(m => m.Location)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("StartDate")</label>
  </div>
  @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { data_editor = "date" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("EndDate")</label>
  </div>
  @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { data_editor = "date" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("TimeZone")</label>
  </div>
  @Html.DropDownListFor(m => m.TimeZoneId, timezones)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("MaxCapacity")</label>
  </div>
  <div>
   @Html.TextBoxFor(m => m.MaxCapacity, new { data_validator = "integer", data_message = Dnn.LocalizeString("MaxCapacityInteger.Error"), data_required = "false" })
  </div>
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SessionVoting")</label>
  </div>
  @Html.CheckBoxFor(m => m.SessionVoting)
 </div>
 <div class="clearfix">&nbsp;</div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SubmittedSessionsPublic")</label>
  </div>
  @Html.CheckBoxFor(m => m.SubmittedSessionsPublic)
 </div>
 <div class="clearfix">&nbsp;</div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("AttendeeRole")</label>
  </div>
  @Html.DropDownListFor(m => m.AttendeeRole, roles)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SpeakerRole")</label>
  </div>
  @Html.DropDownListFor(m => m.SpeakerRole, roles)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("MqttBroker")</label>
  </div>
  @Html.TextBoxFor(m => m.MqttBroker)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("MqttUsername")</label>
  </div>
  @Html.TextBoxFor(m => m.MqttBrokerUsername)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("MqttPassword")</label>
  </div>
  @Html.TextBoxFor(m => m.MqttBrokerPassword)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("BaseTopicPath")</label>
  </div>
  @Html.TextBoxFor(m => m.BaseTopicPath)
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  @ReturnLink(Dnn.LocalizeString("Cancel"), "Home", "Index", null, new { @class = "btn btn-default" }, Model.ConferenceId)
  @if (Model.ConferenceId > 0)
  {
   @Html.ActionLink(Dnn.LocalizeString("Delete"), "Delete", "Conference", new { ConferenceId = Model.ConferenceId }, new { @class = "btn btn-default cmdDelete" })
  }
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

<script type="text/javascript">
 $(function () {
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  validateForm($('#editConference'), $('#cmdSave'), $('#formErrors'));
  $('.cmdDelete').click(function () {
   return confirm('@Dnn.LocalizeString("DeleteConference.Confirm")');
  });
 });
</script>