@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.Conference.Core.Models.Conferences;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);
    var allSessions = Connect.Conference.Core.Repositories.SessionRepository.Instance.GetSessionsByConference(Model.ConferenceId);
}

<div class="connectConference" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ConferenceModuleContext.Security))">
</div>

<div class="container">
 <div class="row">
  <div class="col-xs-12">
   <h2>@Model.Name</h2>
   @if (Model.StartDate != null)
   {
   <div class="panel panel-info">
    <div class="panel-body">
     @((Model.StartDate != null) ? ((System.DateTime)Model.StartDate).ToString("d MMMM") : "")
     - @((Model.EndDate != null) ? ((System.DateTime)Model.EndDate).ToString("d MMMM") : "")
     @((Model.StartDate != null) ? ((System.DateTime)Model.StartDate).ToString("yyyy") : "")
     @Model.Location
    </div>
   </div>
   }
   <p class="lead">@Model.Description</p>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-8">
   <table class="table tblSessions">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("Sessions")</th>
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in allSessions.OrderByDescending(s => s.NrVotes))
     {
     <tr data-id="@s.SessionId">
      <td>
       <span class="sessionTitle" data-id="@s.SessionId">@s.Title</span><br />
       <span class="details">@string.Join(", ", s.Speakers.Select(sp => sp.Value))</span><br />
       <span class="details">@string.Join(", ", s.Tags.Select(t => t.Value))</span><br />
       <span class="details">@Dnn.LocalizeString("NrVotes"): @s.NrVotes</span>
       <div class="details sessionAbstract" data-visible="false" data-id="@s.SessionId">@Html.Raw(s.Description.SafeReplace(Environment.NewLine, "<br />"))</div>
      </td>
      <td class="ctlColumn">
       <a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-eye-open" title="@Dnn.LocalizeString("View")"></a>
       <a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a><br />
         <span class="sessionStatusButton"
          data-conferenceid="@Model.ConferenceId"
          data-sessionid="@s.SessionId"
          data-moduleid="@Dnn.ModuleContext.ModuleId"
          data-options="@(Newtonsoft.Json.JsonConvert.SerializeObject(Connect.DNN.Modules.Conference.Common.Globals.SessionStatusOptions(ConferenceModuleContext.Security.CanManage)))"
          data-selected="@s.Status"></span>
      </td>
     </tr>
     }
    </tbody>
   </table>
  </div>
  <div class="col-sm-4">
   <table class="table" id="tblSpeakers">
    <thead>
     <tr>
      <th colspan="2">@Dnn.LocalizeString("Speakers")</th>
      <th class="nrcol">@Dnn.LocalizeString("Sessions")</th>
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in Connect.Conference.Core.Repositories.SpeakerRepository.Instance.GetSpeakersByConferenceWithNrSessions(Model.ConferenceId, (int)SessionStatus.Accepted).OrderBy(s => s.Sort))
     {
     <tr data-id="@s.UserId" class="sortable">
      <td class="btncol"><img src="@DotNetNuke.Common.Globals.ApplicationPath/DnnImageHandler.ashx?mode=profilepic&w=32&h=32&userId=@s.UserId" width="32" height="32" class="img-circle img-responsive" /></td>
      <td>@s.DisplayName</td>
      <td class="nrcol">@s.NrSessions</td>
      <td class="btncol"><a href="@Url.Action("Edit", "Speaker", new { conferenceId = Model.ConferenceId, speakerId = s.UserId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
     }
    </tbody>
   </table>
  </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
   <div class="right">
    <a href="@GetModuleUrl("API/Sessions/Download?conferenceId=" + Model.ConferenceId.ToString(), true)" class="btn btn-default">
     <span class="glyphicon glyphicon-save"></span>
     @Dnn.LocalizeString("Sessions")
    </a>
    <a href="@GetModuleUrl("API/Speakers/Download?conferenceId=" + Model.ConferenceId.ToString(), true)" class="btn btn-default">
     <span class="glyphicon glyphicon-save"></span>
     @Dnn.LocalizeString("Speakers")
    </a>
    @ReturnLink(Dnn.LocalizeString("Return"), "Conference", "Manage", new { ConferenceId = Model.ConferenceId }, new { @class = "btn btn-primary" }, Model.ConferenceId)
   </div>
  </div>
 </div>
</div>


@{
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<script type="text/javascript">
 $(function () {

  $(document).ready(function() {

   var moduleConferenceService = new ConferenceService($, @Dnn.ModuleContext.ModuleId);

   $('#tblSpeakers tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderSpeakers(@Model.ConferenceId, getTableOrder('tblSpeakers'));
    }
   });

   $('.sessionTitle').click(function() {
    var abs = $('.sessionAbstract[data-id="' + $(this).attr('data-id') + '"]');
    if (abs.attr('data-visible') == 'true') {
     abs.hide({ duration: 600 });
     abs.attr('data-visible', 'false');
    } else {
     abs.show({ duration: 600 });
     abs.attr('data-visible', 'true');
    }
   });

  });

 });
</script>
