@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanEdit);
}

<h3>@Model.Name</h3>
<p>@Model.Description</p>

<div class="row">
 <div class="col-sm-6">
  <table class="table" id="tblSessions">
   <thead>
    <tr>
     <th>@Dnn.LocalizeString("AcceptedSessions")</th>
     <th />
     <th />
    </tr>
   </thead>
   <tbody>
    @foreach (var s in Connect.Conference.Core.Repositories.SessionRepository.Instance.GetSessions(Model.ConferenceId).Where(s => s.Status >= 3).OrderBy(s => s.Sort))
    {
     <tr data-id="@s.SessionId" class="sortable">
      <td>@s.Title</td>
      <td class="btncol">
       <span class="glyphicon glyphicon-@s.StatusGlyphicon"></span>
      </td>
      <td class="btncol"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-eye-open" title="@Dnn.LocalizeString("View")"></a></td>
      <td class="btncol"><a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
    }
   </tbody>
   <tr>
    <td colspan="2"></td>
    <td><a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = -1, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-plus" title="@Dnn.LocalizeString("Add")"></a></td>
   </tr>
  </table>
 </div>
 <div class="col-sm-6">
  <table class="table" id="tblSpeakers">
   <thead>
    <tr>
     <th>@Dnn.LocalizeString("Speakers")</th>
     <th />
    </tr>
   </thead>
   <tbody>
    @foreach (var s in Connect.Conference.Core.Repositories.SpeakerRepository.Instance.GetSpeakersByConference(Model.ConferenceId).OrderBy(s => s.Sort))
    {
    <tr data-id="@s.UserId" class="sortable">
     <td>@s.DisplayName</td>
     <td class="btncol"><a href="@Url.Action("Edit", "Speaker", new { conferenceId = Model.ConferenceId, speakerId = s.UserId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
    </tr>
    }
   </tbody>
   <tr>
    <td colspan="1"></td>
    <td><a href="@Url.Action("Edit", "Speaker", new { conferenceId = Model.ConferenceId, speakerId = -1, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-plus" title="@Dnn.LocalizeString("Add")"></a></td>
   </tr>
  </table>
 </div>
</div>

<div class="right">
 @Html.ActionLink(Dnn.LocalizeString("Return"), "Index", "Home", null, new { @class = "btn btn-primary" })
</div>

@{
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<script type="text/javascript">
 $(function () {

  $(document).ready(function() {

      var moduleConferenceService = new ConferenceService($, @Dnn.ModuleContext.ModuleId);

   $('#tblSessions tbody:first').sortable({
       update: function (event, ui) {
        moduleConferenceService.orderSessions(@Model.ConferenceId, getTableOrder('tblSessions'));
       }
      });
   $('#tblSpeakers tbody:first').sortable({
       update: function (event, ui) {
        moduleConferenceService.orderSpeakers(@Model.ConferenceId, getTableOrder('tblSpeakers'));
       }
      });

  });

 });
</script>