@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);
}

<div class="container">
 <div class="row">
  <div class="col-xs-12">
   <h2>@Model.Name</h2>
   @if (Model.StartDate != null)
   {
   <div class="panel panel-info">
    <div class="panel-body">
     @((Model.StartDate != null) ? ((System.DateTime)Model.StartDate).ToString("d MMMM") : "")
     - @((Model.EndDate != null) ? ((System.DateTime)Model.EndDate).ToString("d MMMM") : "")
     @((Model.StartDate != null) ? ((System.DateTime)Model.StartDate).ToString("yyyy") : "")
     @Model.Location
    </div>
   </div>
   }
   <p class="lead">@Model.Description</p>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-6">
   <table class="table" id="tblSessions">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("AcceptedSessions")</th>
      <th />
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in Connect.Conference.Core.Repositories.SessionRepository.Instance.GetSessions(Model.ConferenceId).Where(s => s.Status >= 3).OrderBy(s => s.Sort))
     {
     <tr data-id="@s.SessionId" class="sortable">
      <td>@s.Title</td>
      <td class="btncol">
       <span class="glyphicon glyphicon-@s.StatusGlyphicon"></span>
      </td>
      <td class="btncol"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-eye-open" title="@Dnn.LocalizeString("View")"></a></td>
      <td class="btncol"><a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
     }
    </tbody>
   </table>
   <table class="table" id="tblSessions">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("SubmittedSessions")</th>
      <th />
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in Connect.Conference.Core.Repositories.SessionRepository.Instance.GetSessions(Model.ConferenceId).Where(s => s.Status > 0 & s.Status < 3).OrderBy(s => s.Sort))
     {
     <tr data-id="@s.SessionId" class="sortable">
      <td>@s.Title</td>
      <td class="btncol">
       <span class="glyphicon glyphicon-@s.StatusGlyphicon"></span>
      </td>
      <td class="btncol"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-eye-open" title="@Dnn.LocalizeString("View")"></a></td>
      <td class="btncol"><a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
     }
    </tbody>
   </table>
   <table class="table" id="tblSessions">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("RejectedSessions")</th>
      <th />
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in Connect.Conference.Core.Repositories.SessionRepository.Instance.GetSessions(Model.ConferenceId).Where(s => s.Status < 0).OrderBy(s => s.Sort))
     {
     <tr data-id="@s.SessionId" class="sortable">
      <td>@s.Title</td>
      <td class="btncol">
       <span class="glyphicon glyphicon-@s.StatusGlyphicon"></span>
      </td>
      <td class="btncol"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-eye-open" title="@Dnn.LocalizeString("View")"></a></td>
      <td class="btncol"><a href="@Url.Action("Edit", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
     }
    </tbody>
   </table>
  </div>
  <div class="col-sm-6">
   <table class="table" id="tblSpeakers">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("Speakers")</th>
      <th class="nrcol">@Dnn.LocalizeString("Sessions")</th>
      <th />
     </tr>
    </thead>
    <tbody>
     @foreach (var s in Connect.Conference.Core.Repositories.SpeakerRepository.Instance.GetSpeakersByConference(Model.ConferenceId).Where(s => s.NrSessions > 0).OrderBy(s => s.Sort))
     {
     <tr data-id="@s.UserId" class="sortable">
      <td>@s.DisplayName</td>
      <td class="nrcol">@s.NrSessions</td>
      <td class="btncol"><a href="@Url.Action("Edit", "Speaker", new { conferenceId = Model.ConferenceId, speakerId = s.UserId, ret = "c-ss" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
     </tr>
     }
    </tbody>
   </table>
  </div>
 </div>
</div>

<div class="right">
 @ReturnLink(Dnn.LocalizeString("Return"), "Home", "Index", null, new { @class = "btn btn-primary" }, Model.ConferenceId)
</div>

@{
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<script type="text/javascript">
 $(function () {

  $(document).ready(function() {

   var moduleConferenceService = new ConferenceService($, @Dnn.ModuleContext.ModuleId);

   $('#tblSessions tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderSessions(@Model.ConferenceId, getTableOrder('tblSessions'));
    }
   });
   $('#tblSpeakers tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderSpeakers(@Model.ConferenceId, getTableOrder('tblSpeakers'));
    }
   });

  });

 });
</script>
