@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<h3>@Model.Name</h3>

<div class="container">
 <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
   <table class="table" id="tblTracks">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("Tracks")</th>
      <th class="nrcol">@Dnn.LocalizeString("Sessions")</th>
      <th colspan="2" />
     </tr>
    </thead>
    <tbody>
     @foreach (var t in Connect.Conference.Core.Repositories.TrackRepository.Instance.GetTracksByConference(Model.ConferenceId).OrderBy(t => t.Sort))
     {
      var rowStyle = "";
      if (t.BackgroundColor != "")
      {
       rowStyle = "background-color: " + t.BackgroundColor;
      }
      <tr data-id="@t.TrackId" class="sortable" style="@(rowStyle)">
       <td>@t.Title</td>
       <td class="nrcol">@t.NrSessions</td>
       <td class="btncol"><a href="@Url.Action("Edit", "Track", new { conferenceId = Model.ConferenceId, trackId = t.TrackId, ret = "c-tls" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
       <td class="btncol"><a href="#" class="deleteTrack btn btn-sm btn-default glyphicon glyphicon-remove" title="@Dnn.LocalizeString("Delete")"></a></td>
      </tr>
     }
    </tbody>
    <tr>
     <td colspan="3"></td>
     <td><a href="@Url.Action("Edit", "Track", new { conferenceId = Model.ConferenceId, trackId = -1, ret = "c-tls" })" class="btn btn-sm btn-default glyphicon glyphicon-plus" title="@Dnn.LocalizeString("Add")"></a></td>
    </tr>
   </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
   <table class="table" id="tblLocations">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("Locations")</th>
      <th class="nrcol">@Dnn.LocalizeString("Capacity")</th>
      <th colspan="2" />
     </tr>
    </thead>
    <tbody>
     @foreach (var l in Connect.Conference.Core.Repositories.LocationRepository.Instance.GetLocationsByConference(Model.ConferenceId).OrderBy(l => l.Sort))
     {
     <tr data-id="@l.LocationId" class="sortable">
      <td>@l.Name</td>
      <td class="nrcol">@l.Capacity</td>
      <td class="btncol"><a href="@Url.Action("Edit", "Location", new { conferenceId = Model.ConferenceId, locationId = l.LocationId, ret = "c-tls" })" class="btn btn-sm btn-default glyphicon glyphicon-pencil" title="@Dnn.LocalizeString("Edit")"></a></td>
      <td class="btncol"><a href="#" class="deleteLocation btn btn-sm btn-default glyphicon glyphicon-remove" title="@Dnn.LocalizeString("Delete")"></a></td>
     </tr>
     }
    </tbody>
    <tr>
     <td colspan="3"></td>
     <td><a href="@Url.Action("Edit", "Location", new { conferenceId = Model.ConferenceId, locationId = -1, ret = "c-tls" })" class="btn btn-sm btn-default glyphicon glyphicon-plus" title="@Dnn.LocalizeString("Add")"></a></td>
    </tr>
   </table>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
   <table class="table">
    <thead>
     <tr>
      <th>@Dnn.LocalizeString("Themes")</th>
      <th>@Dnn.LocalizeString("Sessions")</th>
      <th></th>
      <th></th>
     </tr>
    </thead>
    <tbody>
     @foreach (var t in Connect.Conference.Core.Repositories.TagRepository.Instance.GetTagsByConference(Model.ConferenceId).OrderByDescending(t => t.NrVotes))
     {
     <tr data-id="tag-@t.TagId">
      <td data-id="tagname-@t.TagId">@t.TagName</td>
      <td class="nrcol">@t.NrSessions</td>
      <td class="btncol">
       <a href="#" class="btn btn-default cmdEditTag" title="@Dnn.LocalizeString("Edit")"
          data-id="@t.TagId">
        <span class="glyphicon glyphicon-pencil"></span>
       </a>
      </td>
      <td class="btncol">
       <a href="#" class="btn btn-default cmdDeleteTag" title="@Dnn.LocalizeString("Delete")"
          data-id="@t.TagId">
        <span class="glyphicon glyphicon-remove"></span>
       </a>
      </td>
     </tr>
     }
     <tr>
      <td class="dnnFormItem" colspan="3">
       <input type="text" class="fullwidth" id="txtNewTag" />
      </td>
      <td class="btncol">
       <a href="#" class="btn btn-default cmdAddTag" title="@Dnn.LocalizeString("Add")">
        <span class="glyphicon glyphicon-plus"></span>
       </a>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>

<h3>@Dnn.LocalizeString("Slots")</h3>
<div class="connectConference timesheetEditor" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-slots="@(Newtonsoft.Json.JsonConvert.SerializeObject(Connect.Conference.Core.Repositories.SlotRepository.Instance.GetSlotsByConference(Model.ConferenceId).OrderBy(s => s.Start)))"
     data-locations="@(Newtonsoft.Json.JsonConvert.SerializeObject(Connect.Conference.Core.Repositories.LocationRepository.Instance.GetLocationsByConference(Model.ConferenceId).OrderBy(l => l.Sort)))"
     data-conference="@Model.ConferenceId" data-nrdays="@(Model.EndDate != null ? ((int)((DateTime)Model.EndDate).Subtract((DateTime)Model.StartDate).TotalDays) : 1)"
     data-resources="@SerializedResources()">
</div>

<div class="right">
 @ReturnLink(Dnn.LocalizeString("Return"), "Conference", "Manage", new { ConferenceId = Model.ConferenceId }, new { @class = "btn btn-primary" }, Model.ConferenceId)
</div>

<div class="modal fade" id="editTag" tabindex="-1" role="dialog" aria-labelledby="editTagLabel">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="editTagLabel">@Dnn.LocalizeString("EditTag")</h4>
   </div>
   <div class="modal-body">
    <input type="text" id="txtEditTag" class="form-control" />
    <input type="hidden" id="hidTagId" />
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Dnn.LocalizeString("Cancel")</button>
    <button type="button" class="btn btn-primary" id="cmdEditTagSave">@Dnn.LocalizeString("Save")</button>
   </div>
  </div>
 </div>
</div>

<script type="text/javascript">
 $(function () {

  $(document).ready(function() {

   var moduleConferenceService = new ConferenceService($, @Dnn.ModuleContext.ModuleId);

   $('#tblTracks tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderTracks(@Model.ConferenceId, getTableOrder('tblTracks'));
    }
   });
   $('#tblLocations tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderLocations(@Model.ConferenceId, getTableOrder('tblLocations'));
    }
   });
   $('.deleteTrack').click(function() {
    if (confirm('@Dnn.LocalizeString("DeleteTrack.Confirm")')) {
     var that = this;
     moduleConferenceService.deleteTrack(@Model.ConferenceId, $(that).parent().parent().data("id"), function (data) {
      $(that).parent().parent().remove();
     });
    }
    return false;
   });
   $('.deleteLocation').click(function() {
    if (confirm('@Dnn.LocalizeString("DeleteLocation.Confirm")')) {
     var that = this;
     moduleConferenceService.deleteLocation(@Model.ConferenceId, $(that).parent().parent().data("id"), function (data) {
      $(that).parent().parent().remove();
     });
    }
    return false;
   });
   $('.cmdDeleteTag').click(function(e) {
    var tagId = $(this).data('id');
    e.preventDefault();
    if (confirm('@Dnn.LocalizeString("DeleteTag.Confirm")')) {
     moduleConferenceService.deleteTag(@Model.ConferenceId, tagId, function() {
      $('tr[data-id="tag-' + tagId + '"]').remove();
     });
    }
   });
   $('.cmdAddTag').click(function(e) {
    e.preventDefault();
    var newTagName = document.getElementById('txtNewTag').value.trim();
    if (newTagName != '') {
     document.getElementById('txtNewTag').value = '';
     moduleConferenceService.addTag(@Model.ConferenceId, newTagName, function(data) {
      location.reload();
     });
    }
   });
   $('.cmdEditTag').click(function(e) {
    var tagId = $(this).data('id');
    e.preventDefault();
    console.log($('td[data-id="tagname-' + tagId + '"]').text());
    document.getElementById('txtEditTag').value = $('td[data-id="tagname-' + tagId + '"]').text();
    document.getElementById('hidTagId').value = tagId;
    $('#editTag').modal('show');
   });
   $('#cmdEditTagSave').click(function(e) {
    var tagId = document.getElementById('hidTagId').value;
    var newTagName = document.getElementById('txtEditTag').value.trim();
    e.preventDefault();
    if (newTagName != '') {
     moduleConferenceService.editTag(@Model.ConferenceId, tagId, newTagName, function(data) {
      $('td[data-id="tagname-' + tagId + '"]').text(data.TagName);
     });
    }
    $('#editTag').modal('hide');
   });

  });

 });
</script>