@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using DotNetNuke.Web.Mvc.Helpers;

<h3>@Model.Name</h3>
<p>@Model.Description</p>

<h3>@Dnn.LocalizeString("Tracks")</h3>
<table class="table" id="tblTracks">
 <tbody>
  @foreach (var t in Connect.Conference.Core.Repositories.TrackRepository.Instance.GetTracks(Model.ConferenceId).OrderBy(t => t.Sort))
  {
  <tr data-id="@t.TrackId" class="sortable">
   <td>@t.Title</td>
   <td>@t.Description</td>
   <td>@t.NrSessions</td>
   @if (ConferenceModuleContext.Security.CanEdit)
   {
   <td><a href="@Url.Action("Edit", "Track", new { conferenceId = Model.ConferenceId, trackId = t.TrackId, ret = "c" })">@Dnn.LocalizeString("Edit")</a></td>
   <td><a href="#" class="deleteTrack">@Dnn.LocalizeString("Delete")</a></td>
   }
  </tr>
  }
 </tbody>
 @if (ConferenceModuleContext.Security.CanEdit)
 {
 <tr>
  <td colspan="4"></td>
  <td><a href="@Url.Action("Edit", "Track", new { conferenceId = Model.ConferenceId, trackId = -1, ret = "c" })">@Dnn.LocalizeString("Add")</a></td>
 </tr>
 }
</table>

<h3>@Dnn.LocalizeString("Locations")</h3>
<table class="table" id="tblLocations">
 <tbody>
  @foreach (var l in Connect.Conference.Core.Repositories.LocationRepository.Instance.GetLocations(Model.ConferenceId).OrderBy(l => l.Sort))
  {
  <tr data-id="@l.LocationId" class="sortable">
   <td>@l.Name</td>
   <td>@l.Description</td>
   <td>@l.Capacity</td>
   @if (ConferenceModuleContext.Security.CanEdit)
   {
   <td><a href="@Url.Action("Edit", "Location", new { conferenceId = Model.ConferenceId, locationId = l.LocationId, ret = "c" })">@Dnn.LocalizeString("Edit")</a></td>
   <td><a href="#" class="deleteLocation">@Dnn.LocalizeString("Delete")</a></td>
   }
  </tr>
  }
 </tbody>
 @if (ConferenceModuleContext.Security.CanEdit)
 {
 <tr>
  <td colspan="4"></td>
  <td><a href="@Url.Action("Edit", "Location", new { conferenceId = Model.ConferenceId, locationId = -1, ret = "c" })">@Dnn.LocalizeString("Add")</a></td>
 </tr>
 }
</table>

<div class="timesheet">
 <div class="timesheet-grid">
  @for (int i = 0; i < 24; i++)
  {
<section>@i.ToString("00"):00</section>
  }
 </div>
 <ul class="data">
  <li>&nbsp;</li>
  @foreach (var s in Connect.Conference.Core.Repositories.SlotRepository.Instance.GetSlots(Model.ConferenceId))
  {
  <li>
   <span class="timesheet-box"
         data-id="@s.SlotId"
         data-oldstart="@s.Start.TotalMinutes"
         data-start="@s.Start.TotalMinutes"
         data-scale="48"
         data-length="@s.DurationMins"
         style="margin-left:@(s.Start.TotalMinutes*1152/1440)px; width:@(s.DurationMins*1152/1440)px; z-index:999"></span>
   <span class="timesheet-time" style="margin-left:@(s.DurationMins*1152/1440)px" id="start@(s.SlotId)">@s.Start.ToString("h\\:mm") @(s.DurationMins.MinutesToString())</span>
   <span class="timesheet-title">@s.Title</span>
  </li>
  }
 </ul>
</div>


<div class="right">
 <a href="@HttpContext.Current.Request.UrlReferrer.PathAndQuery" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
</div>


@{
    ConferenceModuleContext.AddModuleService();
    ConferenceModuleContext.AddJqueryUi();
    ConferenceModuleContext.AddScript("interact.min.js", "interact", "1.2.6");
    ConferenceModuleContext.AddScript("interact.module.js");
}

@if (ConferenceModuleContext.Security.CanEdit)
{
 <script type="text/javascript">
  $(function () {

   $('#tblTracks tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderTracks(@Model.ConferenceId, getTableOrder('tblTracks'));
    }
   });
   $('#tblLocations tbody:first').sortable({
    update: function (event, ui) {
     moduleConferenceService.orderLocations(@Model.ConferenceId, getTableOrder('tblLocations'));
    }
   });
   $('.deleteTrack').click(function() {
    if (confirm('@Dnn.LocalizeString("DeleteTrack.Confirm")')) {
     var that = this;
     moduleConferenceService.deleteTrack(@Model.ConferenceId, $(that).parent().parent().data("id"), function (data) {
      $(that).parent().parent().remove();
     });
    }
    return false;
   });
   $('.deleteLocation').click(function() {
    if (confirm('@Dnn.LocalizeString("DeleteLocation.Confirm")')) {
     var that = this;
     moduleConferenceService.deleteLocation(@Model.ConferenceId, $(that).parent().parent().data("id"), function (data) {
      $(that).parent().parent().remove();
     });
    }
    return false;
   });
   $(".timesheet").css({'height':(($(".timesheet .data").height() + 20)+'px')});
  

  });
 </script>
}