@inherits ConferenceWebPage<Location>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Locations;
@using DotNetNuke.Web.Mvc.Helpers;

<h3>@Dnn.LocalizeString("Location")</h3>
<h3>@Model.Name</h3>
<p>@Model.Description</p>


<div class="right">
 <a href="@HttpContext.Current.Request.UrlReferrer.PathAndQuery" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
</div>
