@inherits ConferenceWebPage<SessionBase>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Sessions;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage || ConferenceModuleContext.Security.CanApproveSessions);
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<fieldset id="editTrack">
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Title")</label>
  </div>
  @Html.TextBoxFor(m => m.Title)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SubTitle")</label>
  </div>
  @Html.TextBoxFor(m => m.SubTitle)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Abstract")</label>
  </div>
  @Html.TextAreaFor(m => m.Description)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Notes")</label>
  </div>
  @Html.TextAreaFor(m => m.Notes)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Level")</label>
  </div>
  @Html.TextBoxFor(m => m.Level)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Capacity")</label>
  </div>
  @Html.TextBoxFor(m => m.Capacity, new { data_validator = "integer", data_message = Dnn.LocalizeString("CapacityInteger.Error"), data_required = "false" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Status")</label>
  </div>
  @Html.DropDownListFor(m => m.Status, Globals.StatusDropdownList(Locale))
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("IsPlenary")</label>
  </div>
  <div>
  @Html.CheckBoxFor(m => m.IsPlenary)
  </div>
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  <a href="@Url.Action("SessionsSpeakers", "Conference", new {conferenceId = Model.ConferenceId})" class="btn btn-default">@Dnn.LocalizeString("Cancel")</a>
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

@Html.HiddenFor(m => m.LocationId)
@Html.HiddenFor(m => m.Votes)
@Html.HiddenFor(m => m.Sort)
@Html.HiddenFor(m => m.SlotId)
@Html.HiddenFor(m => m.DayNr)

<script type="text/javascript">
 $(function () {
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  validateForm($('#editTrack'), $('#cmdSave'), $('#formErrors'));
 });
</script>