@inherits ConferenceWebPage<SessionBase>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.Conference.Core.Models.Sessions;
@using Connect.Conference.Core.Repositories;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddJqueryUi();
    ConferenceModuleContext.AddEditScripts();

    var tracks = new List<System.Web.Mvc.SelectListItem>();
    tracks.Add(new System.Web.Mvc.SelectListItem { Text = Dnn.LocalizeString("SelectTrack"), Value = "-1" });
    foreach (var t in TrackRepository.Instance.GetTracksByConference(Model.ConferenceId))
    {
     tracks.Add(new System.Web.Mvc.SelectListItem { Text = t.Title, Value = t.TrackId.ToString() });
    }

}

<div class="connectConference" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ConferenceModuleContext.Security))">
</div>

<fieldset id="editTrack">
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Title")</label>
  </div>
  @Html.TextBoxFor(m => m.Title)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("SubTitle")</label>
  </div>
  @Html.TextBoxFor(m => m.SubTitle)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Speakers")</label>
  </div>
  <div class="speakersComponent form-box" data-moduleid="@Dnn.ActiveModule.ModuleID" data-conference="@Model.ConferenceId" data-session="@Model.SessionId" data-speakers="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GetSpeakers()))">
  </div>
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Tags")</label>
  </div>
  <div class="tagsComponent form-box" data-moduleid="@Dnn.ActiveModule.ModuleID" data-conference="@Model.ConferenceId" data-name="EditTags" data-tags="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GetTags()))" data-placeholder="@Dnn.LocalizeString("NewTag")">
  </div>
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Tracks")</label>
  </div>
  @Html.DropDownListFor(m => m.TrackId, tracks)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Abstract")</label>
  </div>
  @Html.TextAreaFor(m => m.Description, 10, 20, null)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Notes")</label>
  </div>
  @Html.TextAreaFor(m => m.Notes)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Level")</label>
  </div>
  @Html.TextBoxFor(m => m.Level)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Capacity")</label>
  </div>
  @Html.TextBoxFor(m => m.Capacity, new { data_validator = "integer", data_message = Dnn.LocalizeString("CapacityInteger.Error"), data_required = "false" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Status")</label>
  </div>
  @Html.DropDownListFor(m => m.Status, Connect.DNN.Modules.Conference.Common.Globals.StatusDropdownList(Locale))
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("IsPlenary")</label>
  </div>
  <div>
  @Html.CheckBoxFor(m => m.IsPlenary)
  </div>
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  <a href="@Url.Action("SessionsSpeakers", "Conference", new {conferenceId = Model.ConferenceId})" class="btn btn-default">@Dnn.LocalizeString("Cancel")</a>
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

@Html.HiddenFor(m => m.LocationId)
@Html.HiddenFor(m => m.Sort)
@Html.HiddenFor(m => m.SlotId)
@Html.HiddenFor(m => m.DayNr)

<script type="text/javascript">
 $(function () {
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  validateForm($('#editTrack'), $('#cmdSave'), $('#formErrors'));
 });
</script>