@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.Conference.Core.Models.Conferences;
@using Connect.Conference.Core.Models.Speakers;
@using Connect.Conference.Core.Repositories;
@{
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddCss("jquery.bxslider.min.css", "bxslider", "4.2.5");
    ConferenceModuleContext.AddScript("jquery.bxslider.min.js", "bxslider", "4.2.5");
}

<ul class="slidercontent">
 @foreach (Speaker speaker in SpeakerRepository.Instance.GetSpeakersByConference(Model.ConferenceId).Where(s => s.NrSessions > 0))
 {
  var bio = speaker.Description;
  if (string.IsNullOrEmpty(bio)) { bio = speaker.Biography; } ;
 <li>
  <div class="speakerCard">
   <div class="panel panel-danger">
    <div class="panel-heading">
     <h1>@speaker.DisplayName</h1>
    </div>
    <div class="panel-body">
     <div class="row">
      <div class="col-xs-4 col-sm-3">
       <div class="speaker">
        <div class="speaker-image">
         <img src="@DotNetNuke.Common.Globals.ApplicationPath/DnnImageHandler.ashx?mode=profilepic&w=200&h=200&userId=@speaker.UserId" width="200" height="200" />
        </div>
        <div style="padding-top:230px">
         @speaker.DisplayName<br />
         @speaker.Company
        </div>
       </div>
      </div>
      <div class="col-xs-4 col-sm-4">
       <p style="font-size:large">@Html.Raw(bio.SafeReplace(Environment.NewLine, "<br />"))</p>
      </div>
      <div class="col-xs-4 col-sm-5">
      @foreach (var s in SessionRepository.Instance.GetSessionsBySpeaker(Model.ConferenceId, speaker.UserId).Where(s => s.Status >= 2).OrderBy(s => s.SessionDateAndTime))
      {
      <div class="speaker-session">
       <div class="session-title"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId })">@s.Title</a></div>
       <div class="session-time">@(((DateTime)s.SessionDateAndTime).ToString("dddd HH:mm"))</div>
       <div class="session-details">@Dnn.LocalizeString("Track"): @s.TrackTitle</div>
       <div class="session-details">@Dnn.LocalizeString("Tags"): @string.Join(", ", s.Tags.Select(sp => sp.Value))</div>
      </div>
      }
      </div>
     </div>
    </div>
   </div>
  </div>
 </li>
 }
</ul>

<script type="text/javascript">
 $(document).ready(function () {
  $('.topBar').remove();
  $('.footer').remove();
  $('.sidebar').remove();
  $('.skinWidth').width('100%');
  $('.content').width('100%');
  $('.slidercontent').bxSlider({
   useCss: false,
   randomStart: true,
   pager: false,
   controls: false,
   auto: true,
   pause: 10000
  });
 });
</script>