@inherits ConferenceWebPage<AttendeeController.AttendeeDTO>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.DNN.Modules.Conference.Controllers;
@using DotNetNuke.Web.Mvc.Helpers;
@{

 RequirePermissionLevel(ConferenceModuleContext.Security.CanAttend);
 ConferenceModuleContext.AddBootstrapCss();
 ConferenceModuleContext.AddScript("common.js");
 ConferenceModuleContext.AddEditScripts();

 var user = Dnn.User;
 if (user.UserID != Model.UserId & ConferenceModuleContext.Security.CanManage)
 {
  user = DotNetNuke.Entities.Users.UserController.GetUserById(Dnn.PortalSettings.PortalId, Model.UserId);
 }
 string userFolder = "";
 if (user != null)
 {
  userFolder = DotNetNuke.Services.FileSystem.FolderManager.Instance.GetUserFolder(user).FolderPath;
 }
}
<div class="connectConference" data-moduleid="@Dnn.ModuleContext.ModuleId" data-tabid="@Dnn.ModuleContext.TabId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ConferenceModuleContext.Security))">
</div>

<fieldset id="editProfile">
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("DisplayName")</label>
  </div>
  @Html.TextBoxFor(m => m.DisplayName, new { data_message = Dnn.LocalizeString("DisplayNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("FirstName")</label>
  </div>
  @Html.TextBoxFor(m => m.FirstName, new { data_message = Dnn.LocalizeString("FirstNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("LastName")</label>
  </div>
  @Html.TextBoxFor(m => m.LastName, new { data_message = Dnn.LocalizeString("LastNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Email")</label>
  </div>
  @Html.TextBoxFor(m => m.Email, new { data_message = Dnn.LocalizeString("EmailRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Company")</label>
  </div>
  @Html.TextBoxFor(m => m.Company)
 </div>
 @if (userFolder != "")
 {
  <div class="dnnFormItem">
   <div class="dnnLabel" style="position: relative;">
    <label>@Dnn.LocalizeString("Photo")</label>
   </div>
   <div class="attendeeImage"
        data-moduleid="@Dnn.ModuleContext.ModuleId"
        data-attendee="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model))"
        data-field="ProfilePicDTO"
        data-homedir="@(Dnn.PortalSettings.HomeDirectory)" />
  </div>
 }
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("ReceiveNotifications")</label>
  </div>
  @Html.CheckBoxFor(m => m.ReceiveNotifications)
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  <a href="@HttpContext.Current.Request.UrlReferrer.PathAndQuery" class="btn btn-default">@Dnn.LocalizeString("Cancel")</a>
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

@Html.HiddenFor(m => m.ProfilePicDTO)

<script type="text/javascript">
 $(function () {
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  Common.validateForm($('#editProfile'), $('#cmdSave'), $('#formErrors'));
 });
</script>