@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using Connect.Conference.Core.Models.Sessions;
@using Connect.Conference.Core.Repositories;
@{
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddEditScripts();
}

<h2>@Model.Name</h2>

<div class="connectConference" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(ConferenceModuleContext.Security))">
</div>

<div class="tagVoteComponent" data-moduleid="@Dnn.ModuleContext.ModuleId" data-allowvote="@((ConferenceModuleContext.Security.UserId != -1).ToString().ToLower())"
     data-conference="@Model.ConferenceId" data-votelist="@(Newtonsoft.Json.JsonConvert.SerializeObject(TagRepository.Instance.GetTagsWithVote(Model.ConferenceId, Dnn.User.UserID)))">
</div>

<script type="text/javascript">
 $(function () {
  $(document).ready(function() {
  });
 });
</script>