@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using Connect.Conference.Core.Repositories;
@{
    var conferences = ConferenceRepository.Instance.GetConferences(Dnn.PortalSettings.PortalId);
    ConferenceModuleContext.AddBootstrapCss();
}

@foreach (Conference c in conferences.OrderBy(x => x.StartDate))
{
 <div class="panel panel-info">
  <div class="panel-heading">
   <h3 class="panel-title">@c.Name</h3>
  </div>
  <div class="panel-body">
@if (c.StartDate != null)
{
   <h5>
     @((c.StartDate != null) ? ((System.DateTime)c.StartDate).ToString("d MMMM") : "")
     - @((c.EndDate != null) ? ((System.DateTime)c.EndDate).ToString("d MMMM") : "")
     @((c.StartDate != null) ? ((System.DateTime)c.StartDate).ToString("yyyy") : "")
     @c.Location
   </h5>
}
   <div>
    @c.Description
   </div>
  </div>
  <div class="panel-footer">
   <div>
    @if (c.MaxCapacity != null && c.MaxCapacity > 0)
    {
    <span>
     @Dnn.LocalizeString("MaxCapacity"): @c.MaxCapacity
    </span>
    }
    @if (c.NrAttendees != null && c.NrAttendees > 0)
    {
    <span>
     @Dnn.LocalizeString("NrAttendees"): @c.NrAttendees
    </span>
    }
    @if (c.NrSessions != null && c.NrSessions > 0)
    {
    <span>
     @Dnn.LocalizeString("NrSessions"): @c.NrSessions
    </span>
    }
    @if (ConferenceModuleContext.Security.CanManage)
    {
    <a href="@Url.Action("Manage", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Manage")" class="pull-right">
     @Dnn.LocalizeString("Manage")
    </a>
    @Html.ActionLink(Dnn.LocalizeString("Delete"), "Delete", "Conference", new { ConferenceId = c.ConferenceId }, new { @class = "pull-right cmdDelete", style = "padding-right:10px;" })
    <a href="@Url.Action("Edit", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Edit")" class="pull-right" style="padding-right:10px;">
     @Dnn.LocalizeString("Edit")
    </a>
    }
   </div>
  </div>
 </div>
}

@{
    if (ConferenceModuleContext.Security.CanManage)
    {
    <div class="right">
     <a href="@Url.Action("Edit", "Conference", new {conferenceId = -1})" title="@Dnn.LocalizeString("New")" class="btn btn-primary">
      @Dnn.LocalizeString("New")
     </a>
     <a href="@Url.Action("Keys", "ApiKey")" title="Keys" class="btn btn-default">
      Keys
     </a>
    </div>
    }
}

<script type="text/javascript">
 $(function () {

  $(document).ready(function() {

   $('.cmdDelete').click(function () {
    return confirm('@Dnn.LocalizeString("DeleteConference.Confirm")');
   });

  });

 });
</script>