@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Conferences;
@using Connect.Conference.Core.Repositories;
@{
    var conferences = ConferenceRepository.Instance.GetConferences(Dnn.PortalSettings.PortalId);
    ConferenceModuleContext.AddBootstrapCss();
}

@foreach (Conference c in conferences.OrderBy(x => x.StartDate))
{
 <div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">@c.Name</h3>
@if (c.StartDate != null)
{
   <h6>
     @((c.StartDate != null) ? ((System.DateTime)c.StartDate).ToString("d MMMM") : "")
     - @((c.EndDate != null) ? ((System.DateTime)c.EndDate).ToString("d MMMM") : "")
     @((c.StartDate != null) ? ((System.DateTime)c.StartDate).ToString("yyyy") : "")
     @c.Location
   </h6>
}
  </div>
  <div class="panel-body">
   <div>
    @c.Description
   </div>
   @if (ConferenceModuleContext.Security.CanManage)
   {
   <div>
    <a href="@Url.Action("Edit", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Edit")" class="btn btn-default">
     @Dnn.LocalizeString("Edit")
    </a>
    <a href="@Url.Action("SessionsSpeakers", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Edit")" class="btn btn-default">
     @Dnn.LocalizeString("SessionsSpeakers")
    </a>
    <a href="@Url.Action("TracksLocationsSlots", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Edit")" class="btn btn-default">
     @Dnn.LocalizeString("TracksLocationsSlots")
    </a>
   </div>
   }
  </div>
  <div class="panel-footer">
   <div>
    <span>
     @Dnn.LocalizeString("MaxCapacity"): @c.MaxCapacity
    </span>
    <span>
     @Dnn.LocalizeString("NrAttendees"): @c.NrAttendees
    </span>
    <span>
     @Dnn.LocalizeString("NrSessions"): @c.NrSessions
    </span>
    @if (ConferenceModuleContext.Security.CanManage)
    {
    <a href="@Url.Action("Edit", "Conference", new {conferenceId = c.ConferenceId})" title="@Dnn.LocalizeString("Edit")" class="pull-right">
     @Dnn.LocalizeString("Edit")
    </a>
    }
   </div>
  </div>
 </div>
}

@{
    if (ConferenceModuleContext.Security.CanManage)
    {
    <div class="right">
     <a href="@Url.Action("Edit", "Conference", new {conferenceId = -1})" title="@Dnn.LocalizeString("New")" class="btn btn-primary">
      @Dnn.LocalizeString("New")
     </a>
    </div>
    }
}
