@inherits ConferenceWebPage<Conference>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.Conference.Core.Models.Conferences;
@using Connect.Conference.Core.Models.Sessions;
@using Connect.Conference.Core.Repositories;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanSubmitSessions);
    ConferenceModuleContext.AddModuleService();

    IEnumerable<Session> mySessions = SessionRepository.Instance.GetSessionsBySpeaker(Model.ConferenceId, Dnn.User.UserID);
    ConferenceModuleContext.AddBootstrapCss();
}

@foreach (Session s in mySessions)
{
 <div class="panel panel-info">
  <div class="panel-heading">
   <h3 class="panel-title">@s.Title</h3>
   <p>@s.SubTitle</p>
  </div>
  <div class="panel-body">
   <div>
    @Html.Raw(s.Description.SafeReplace(Environment.NewLine, "<br />"))
   </div>
   <div style="margin-top:20px">
    <dl class="dl-horizontal">
     <dt>@Dnn.LocalizeString("Speakers")</dt>
     <dd>@String.Join(", ", s.Speakers.Select(sp => sp.Value))</dd>
     <dt>@Dnn.LocalizeString("Status")</dt>
     <dd>@Dnn.LocalizeString(((Connect.Conference.Core.Common.SessionStatus)s.Status).ToString())</dd>
    </dl>
   </div>
   <div>
    <a href="@Url.Action("Submit", "Session", new {conferenceId = Model.ConferenceId, sessionId = s.SessionId})" title="@Dnn.LocalizeString("Edit")" class="btn btn-default">
     @Dnn.LocalizeString("Edit")
    </a>
    <a href="@Url.Action("View", "Session", new {conferenceId = Model.ConferenceId, sessionId = s.SessionId})" title="@Dnn.LocalizeString("View")" class="btn btn-default">
     @Dnn.LocalizeString("View")
    </a>
    <a href="#" class="btn btn-warning cmdDelete" data-sessionid="@s.SessionId">
     @Dnn.LocalizeString("Delete")
    </a>
    @if (s.Status > 0)
    {
    <a href="#" class="btn btn-info cmdWorkflow" data-sessionid="@s.SessionId" data-workflow="0">
     @Dnn.LocalizeString("Retract")
    </a>
    }
    @if (s.Status == 0)
    {
    <a href="#" class="btn btn-info cmdWorkflow" data-sessionid="@s.SessionId" data-workflow="1">
     @Dnn.LocalizeString("Submit")
    </a>
    }
   </div>
  </div>
  <div class="panel-footer">
   <div>
    <span>
     @Dnn.LocalizeString("MaxCapacity"): @s.Capacity
    </span>
   </div>
  </div>
 </div>
}

<div class="right">
 <a href="@Url.Action("Submit", "Session", new {conferenceId = Model.ConferenceId, sessionId = -1})" title="@Dnn.LocalizeString("AddSession")" class="btn btn-default">
  @Dnn.LocalizeString("AddSession")
 </a>
 @if (mySessions.Count() > 0)
 {
 <a href="@Url.Action("Edit", "Speaker", new { conferenceId = Model.ConferenceId, speakerId = Dnn.User.UserID })" title="@Dnn.LocalizeString("EditProfile")" class="btn btn-default">
  @Dnn.LocalizeString("EditProfile")
 </a>
 }
</div>

<script type="text/javascript">
 $(function () {
  var moduleConferenceService = new ConferenceService($, @Dnn.ModuleContext.ModuleId);
  $(document).ready(function () {
   $('.cmdDelete').click(function (e) {
    e.preventDefault();
    var btn = e.target;
    if (confirm('@Dnn.LocalizeString("DeleteSession.Confirm")')) {
     moduleConferenceService.deleteSession(@Model.ConferenceId, $(btn).data('sessionid'), function() {
      location.reload();
     });
    }
   }.bind(this));
   $('.cmdWorkflow').click(function (e) {
    e.preventDefault();
    var btn = e.target;
    moduleConferenceService.changeSessionStatus(@Model.ConferenceId, $(btn).data('sessionid'), $(btn).data('workflow'), function(data) {
     location.reload();
    });
   });
  });
 });
</script>
