@inherits ConferenceWebPage<AttendeeController.AttendeeDTO>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.DNN.Modules.Conference.Controllers;
@using DotNetNuke.Web.Mvc.Helpers;
@{

    RequirePermissionLevel(ConferenceModuleContext.Security.CanAttend);
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddScript("common.js");
    ConferenceModuleContext.AddEditScripts();
    ConferenceModuleContext.AddCss("croppie.css", "croppie", "1.0.3");
    ConferenceModuleContext.AddScript("croppie.min.js", "croppie", "1.0.3");
    ConferenceModuleContext.AddScript("SimpleAjaxUploader.min.js", "SimpleAjaxUploader", "2.2.4");

    var user = Dnn.User;
    if (user.UserID != Model.UserId & ConferenceModuleContext.Security.CanManage)
    {
     user = DotNetNuke.Entities.Users.UserController.GetUserById(Dnn.PortalSettings.PortalId, Model.UserId);
    }
    string userFolder = "";
    if (user != null)
    {
     userFolder = DotNetNuke.Services.FileSystem.FolderManager.Instance.GetUserFolder(user).FolderPath;
    }
}

<fieldset id="editProfile">
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("DisplayName")</label>
  </div>
  @Html.TextBoxFor(m => m.DisplayName, new { data_message = Dnn.LocalizeString("DisplayNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("FirstName")</label>
  </div>
  @Html.TextBoxFor(m => m.FirstName, new { data_message = Dnn.LocalizeString("FirstNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("LastName")</label>
  </div>
  @Html.TextBoxFor(m => m.LastName, new { data_message = Dnn.LocalizeString("LastNameRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Email")</label>
  </div>
  @Html.TextBoxFor(m => m.Email, new { data_message = Dnn.LocalizeString("EmailRequired.Error"), data_required = "true" })
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("Company")</label>
  </div>
  @Html.TextBoxFor(m => m.Company)
 </div>
 @if (userFolder != "")
 {
  <div class="dnnFormItem">
   <div class="dnnLabel" style="position: relative;">
    <label>@Dnn.LocalizeString("Photo")</label>
   </div>
   <div style="display:inline;position:relative;">
    <div id="spanPhoto" style="padding-bottom:20px;">
     @if (Model.PhotoFilename != null)
     {
      <div style="display:inline;">
       <img src="@(Dnn.PortalSettings.HomeDirectory)@(Model.PhotoFolder)@(Model.PhotoFilename)?@DateTime.Now.Ticks" alt="@Model.DisplayName" height="64" width="64" />
      </div>
     }
     <div style="display:inline;">
      <a href="#" id="cmdChangePhoto" class="btn btn-default">Change</a>
     </div>
    </div>
    <div id="spanPhotoEdit">
     <div id="photoCrop"></div>
     <div style="text-align:center;padding-bottom:20px;">
      <a href="#" id="cmdUpload" class="btn btn-default">Upload</a>
      <span id="msgBox"></span>
     </div>
    </div>
   </div>
  </div>
 }
 <div class="dnnFormItem">
  <div class="dnnLabel" style="position: relative;">
   <label>@Dnn.LocalizeString("ReceiveNotifications")</label>
  </div>
  @Html.CheckBoxFor(m => m.ReceiveNotifications)
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  <a href="@HttpContext.Current.Request.UrlReferrer.PathAndQuery" class="btn btn-default">@Dnn.LocalizeString("Cancel")</a>
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

@Html.HiddenFor(m => m.ProfilePicDTO)

<script type="text/javascript">
 $(function () {

  var currentImageSettings = JSON.parse($('#ProfilePicDTO').val());
  currentImageSettings.smallestSide = Math.min(currentImageSettings.width, currentImageSettings.height);
  var cs = new ConferenceService($, @Dnn.ModuleContext.ModuleId);

  $('#spanPhotoEdit').hide();
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  Common.validateForm($('#editProfile'), $('#cmdSave'), $('#formErrors'));

  $('#cmdSave').click(function() {
   $('#ProfilePicDTO').val(JSON.stringify(currentImageSettings));
  });

  $('#cmdChangePhoto').click(function () {
   $('#spanPhoto').hide();
   $('#spanPhotoEdit').show();
   var crop = $('#photoCrop').croppie({
    viewport: {
     width: 200,
     height: 200
    },
    boundary: {
     width: 300,
     height: 300
    },
    update: function (cropper) {
     currentImageSettings.crop = cropper;
     currentImageSettings.width = Math.floor(cropper.points[2] - cropper.points[0]);
     currentImageSettings.height = Math.floor(cropper.points[3] - cropper.points[1]);
     currentImageSettings.smallestSide = Math.min(currentImageSettings.width, currentImageSettings.height);
    }
   });
   if (currentImageSettings.filename != '') {
    crop.croppie('bind', {
     url: '@(Dnn.PortalSettings.HomeDirectory)@(Model.PhotoFolder)' + currentImageSettings.filename + '?@DateTime.Now.Ticks',
     points: [0, 0, currentImageSettings.smallestSide, currentImageSettings.smallestSide]
    });
   }
   var uploader = new ss.SimpleUpload({
    button: 'cmdUpload',
    dropzone: 'photoCrop',
    url: cs.ServicePath() + 'Conference/@(Model.ConferenceId)/Attendees/UploadPicture/@(Model.UserId)',
    customHeaders: { ModuleId: @Dnn.ModuleContext.ModuleId, TabId: @Dnn.PortalSettings.ActiveTab.TabID, RequestVerificationToken: $('[name="__RequestVerificationToken"]').val() },
    name: 'profilepic',
    multipart: true,
    hoverClass: 'hover',
    focusClass: 'focus',
    responseType: 'json',
    startXHR: function () {
    },
    onSubmit: function () {
     document.getElementById('msgBox').innerHTML = '';
    },
    onComplete: function (filename, response) {
     if (response === '') {
      currentImageSettings.filename = filename;
      crop.croppie('bind', {
       url: '@(Dnn.PortalSettings.HomeDirectory)@(userFolder)' + filename + '?@DateTime.Now.Ticks'
      });
     }
     else
     {
      document.getElementById('msgBox').innerHTML = 'Error uploading file: ' + response;
     }
    },
    onError: function (filename, errorType, status, statusText, response, uploadBtn, fileSize) {
     document.getElementById('msgBox').innerHTML = 'Error uploading file: ' + response;
    }
   });
   return false;
  });


 });
</script>