@inherits ConferenceWebPage<Speaker>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.DNN.Modules.Conference.Controllers;
@using Connect.Conference.Core.Models.Speakers;
@using Connect.Conference.Core.Repositories;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    ConferenceModuleContext.AddBootstrapCss();
}

<div class="container">
 <div class="row">
  <div class="col-sm-12">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h2 class="panel-title">@Model.DisplayName</h2>
    </div>
    <div class="panel-body">
     <div class="row">
      <div class="col-xs-4 col-sm-2">
       <div class="speaker">
        <img src="@DotNetNuke.Common.Globals.ApplicationPath/DnnImageHandler.ashx?mode=profilepic&w=64&h=64&userId=@Model.UserId" class="img-circle img-responsive" /><br />
        @Model.DisplayName
       </div>
      </div>
      <div class="col-xs-8 col-sm-10">
       <p>@Html.Raw(Model.Description.SafeReplace(Environment.NewLine, "<br />"))</p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-12">
   <h3>@Dnn.LocalizeString("Sessions")</h3>
   @foreach (var s in SessionRepository.Instance.GetSessionsBySpeaker(Model.ConferenceId, Model.UserId).OrderBy(s => s.SessionDateAndTime))
   {
   <div class="panel panel-info speakerSession">
    <div class="panel-heading">
     <h2 class="panel-title"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId })">@s.Title</a></h2>
    </div>
    <div class="panel-body">
     <p>
     @if (s.SessionDateAndTime != null)
     {
     <strong>@(((DateTime)s.SessionDateAndTime).ToString("D")) @(((DateTime)s.SessionDateAndTime).ToString("t"))</strong>
     }
      <em>@s.TrackTitle</em>
     </p>
     <p>
      @foreach (var sp in s.Speakers)
      {
      <span class="speaker">@sp.Value</span>
      }
     </p>
     <p>@Html.Raw(s.Description.SafeReplace(Environment.NewLine, "<br />"))</p>
    </div>
   </div>
   }
  </div>
 </div>
</div>

<div class="right">
 @ReturnLink(Dnn.LocalizeString("Return"), "Home", "Index", null, new { @class = "btn btn-primary" }, Model.ConferenceId)
</div>

<script type="text/javascript">
 $(document).ready(function () {
  var el = $('.ModConnectConferenceC .container');
  if (el != undefined) {
   if (el.parent().closest('.container').length == 1) {
    el.removeClass('container');
   }
  }
 })
</script>
