@inherits ConferenceWebPage<Speaker>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Common;
@using Connect.DNN.Modules.Conference.Controllers;
@using Connect.Conference.Core.Models.Speakers;
@using Connect.Conference.Core.Repositories;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    ConferenceModuleContext.AddBootstrapCss();
}

<div class="container">
 <div class="row">
  <div class="col-sm-12 speakerCard">
   <div class="panel panel-danger">
    <div class="panel-heading">
     <h1>@Model.DisplayName</h1>
    </div>
    <div class="panel-body">
     <div class="row">
      <div class="col-xs-4 col-sm-3">
       <div class="speaker">
        <div class="speaker-image">
         <img src="@DotNetNuke.Common.Globals.ApplicationPath/DnnImageHandler.ashx?mode=profilepic&w=200&h=200&userId=@Model.UserId" width="200" height="200" />
        </div>
        <div style="padding-top:230px">
         @Model.DisplayName<br />
         @Model.Company
        </div>
       </div>
      </div>
      <div class="col-xs-4 col-sm-4">
       <p>@Html.Raw(Model.Description.SafeReplace(Environment.NewLine, "<br />"))</p>
      </div>
      <div class="col-xs-4 col-sm-5">
       @foreach (var s in SessionRepository.Instance.GetSessionsBySpeaker(Model.ConferenceId, Model.UserId).Where(s => s.Status >= 2).OrderBy(s => s.SessionDateAndTime))
       {
       <div class="speaker-session">
        <div class="session-title"><a href="@Url.Action("View", "Session", new { conferenceId = Model.ConferenceId, sessionId = s.SessionId })">@s.Title</a></div>
        <div class="session-time">@(((DateTime)s.SessionDateAndTime).ToString("dddd HH:mm"))</div>
        <div class="session-details">@Dnn.LocalizeString("Track"): @s.TrackTitle</div>
        <div class="session-details">@Dnn.LocalizeString("Tags"): @string.Join(", ", s.Tags.Select(sp => sp.Value))</div>
       </div>
       }
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="right">
 @ReturnLink(Dnn.LocalizeString("Return"), "Home", "Index", null, new { @class = "btn btn-primary" }, Model.ConferenceId)
</div>

<script type="text/javascript">
 $(document).ready(function () {
  var el = $('.ModConnectConferenceC .container');
  if (el != undefined) {
   if (el.parent().closest('.container').length == 1) {
    el.removeClass('container');
   }
  }
 })
</script>
