@inherits ConferenceWebPage<TrackBase>
@using Connect.DNN.Modules.Conference.Common;
@using Connect.Conference.Core.Models.Tracks;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    RequirePermissionLevel(ConferenceModuleContext.Security.CanManage);
    ConferenceModuleContext.AddBootstrapCss();
    ConferenceModuleContext.AddScript("common.js");
    ConferenceModuleContext.AddEditScripts();
}

<fieldset id="editTrack">
 <div class="dnnFormItem">
  <div class="dnnLabel">
   <label>@Dnn.LocalizeString("Title")</label>
  </div>
  @Html.TextBoxFor(m => m.Title)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel">
   <label>@Dnn.LocalizeString("Description")</label>
  </div>
  @Html.TextAreaFor(m => m.Description)
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel">
   <label>@Dnn.LocalizeString("BackgroundColor")</label>
  </div>
  @Html.TextBoxFor(m => m.BackgroundColor)
  <a href="#" class="btn btn-success cmdRefresh"><span class="glyphicon glyphicon-refresh"></span></a>
 </div>
 <div class="dnnFormItem">
  <div class="dnnLabel">
   <label>@Dnn.LocalizeString("SessionVoting")</label>
  </div>
  @Html.CheckBoxFor(m => m.SessionVoting)
 </div>
 <div id="formErrors" class="dnnFormMessage dnnFormValidationSummary" style="display:none;">
 </div>
 <div class="right">
  <a href="@HttpContext.Current.Request.UrlReferrer.PathAndQuery" class="btn btn-default">@Dnn.LocalizeString("Cancel")</a>
  <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
 </div>
</fieldset>

@Html.HiddenFor(m => m.Sort)

<script type="text/javascript">
 $(function () {
  $('input[data-editor="date"]').datetimepicker({
   format: 'MM/DD/YYYY'
  });
  Common.validateForm($('#editTrack'), $('#cmdSave'), $('#formErrors'));
  $('#BackgroundColor').css('background-color', $('#BackgroundColor').val());
  $('.cmdRefresh').click(function (e) {
   e.preventDefault();
   var newColor = '#' + getPastel();
   $('#BackgroundColor').val(newColor);
   $('#BackgroundColor').css('background-color', $('#BackgroundColor').val());
  });
 });
</script>